In [1]:
import numpy as np
import pandas as pd

In [2]:

data = pd.read_csv("C:/Users/Administrator/Documents/IT Vedant/Python/InClass Code/Projects/Np Statistic Project/employee_performance_data.csv")

In [3]:
data

,Employee_ID,Age,Experience_Years,Monthly_Salary,Annual_Salary,Working_Hours_Per_Week,Projects_Completed,Performance_Score,Training_Hours,Absenteeism_Days,Overtime_Hours,Team_Size,Client_Rating,Promotion_Score,Stress_Level,Job_Satisfaction,Commute_Distance_KM,Health_Index,Bonus_Percentage,Attrition_Risk_Score
0,1001,59,23,26276,1496179,69,6,1.27,48,16,44,17,1.92,8.08,8.72,9.44,59,93.67,8.68,2.56
1,1002,49,8,133939,1174772,35,16,2.84,36,13,10,16,2.16,1.51,5.45,8.76,15,61.36,9.00,1.89
2,1003,35,2,124199,1262361,49,6,4.06,25,17,5,13,4.09,4.32,2.18,9.00,50,50.40,5.36,3.95
3,1004,28,30,99530,441214,60,17,5.60,98,1,22,10,1.30,5.55,7.27,5.21,48,74.60,24.55,2.23
4,1005,41,23,43499,939341,55,10,6.54,97,3,26,9,4.31,6.04,2.85,6.92,32,76.57,25.31,2.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,1796,24,28,114294,503047,53,18,7.58,79,15,44,8,1.45,6.45,5.15,6.46,57,56.08,11.94,1.27
796,1797,50,9,83530,1109217,35,14,4.78,40,11,41,10,3.44,4.56,3.93,5.06,58,55.82,9.70,6.07
797,1798,31,11,56224,549768,44,18,6.21,31,6,38,7,4.28,3.69,5.28,9.45,36,60.22,11.53,7.87
798,1799,50,29,27788,984029,43,13,8.49,14,6,24,17,2.14,8.80,6.43,2.10,49,54.21,23.78,4.30
799,1800,51,0,48082,1443051,66,11,8.24,61,16,45,16,1.96,7.72,9.87,2.91,34,81.00,14.25,5.91

In [4]:
data.shape

(800, 20)

In [ ]:
# Mean (Average)
# I calculated the average monthly salary to understand the general salary level of employees.
mean_salary = np.mean(data["Monthly_Salary"])
print("Mean Monthly Salary:", mean_salary)

Mean Monthly Salary: 86596.6575

In [ ]:
#  Median (Middle Value)
# I calculated the median salary to find the middle salary value.
median_salary = np.median(data["Monthly_Salary"])
print(median_salary)

86264.0

In [ ]:
# Mode (Most Frequent Value)
# I found the most frequently occurring salary to understand common pay ranges.
values, counts = np.unique(data["Monthly_Salary"], return_counts=True)
mode_salary = values[np.argmax(counts)]
print(mode_salary)

51910

In [ ]:
# Variance helped me understand how much salaries differ from the average.
# Your variance value is very large, which means:
# Employee salaries vary a lot — some earn much less and some earn much more.
salary_variance = round(np.var(data["Monthly_Salary"]),2)
print(salary_variance)

1435956850.18

In [ ]:
# It tells us on average, how much salaries differ from the mean salary
salary_std = round(np.std(data["Monthly_Salary"]),2)
print(salary_std)

37894.02

In [11]:
# Percentiles & Quartiles
q1 = np.percentile(data["Monthly_Salary"], 25)  #Q1 → Bottom 25% salaries
q2 = np.percentile(data["Monthly_Salary"], 50)  #Q2 → Median
q3 = np.percentile(data["Monthly_Salary"], 75)  # Q3 → Top 25% salaries

In [ ]:
# IQR: Spread of middle 50% data
# Range showed the difference between the highest and lowest salary
# IQR showed the spread of the middle 50% of salaries
# IQR is useful because it ignores extreme salary values.

salary_range = np.max(data["Monthly_Salary"]) - np.min(data["Monthly_Salary"])
iqr = q3 - q1

In [13]:
iqr

67731.0

In [8]:
# Correlation Analysis
# It show the negative cor-reletion becouse the experiance increases but not salary 
correlation = round(np.corrcoef(
    data['Experience_Years'],   # Experience
    data['Monthly_Salary']    # Salary
)[0, 1],2)

print(correlation)

-0.01

In [15]:
# Find the Minimum and Maximum Monthly Salary
min_salary = np.min(data["Monthly_Salary"])
max_salary = np.max(data["Monthly_Salary"])

print("Minimum Salary:", min_salary)
print("Maximum Salary:", max_salary)

Minimum Salary: 20163
Maximum Salary: 149992

In [ ]:
# Calculate Skewness of Monthly Salary
# “The skewness value is close to zero, which means the salary distribution is almost symmetrical
#  and not heavily biased toward either low or high salaries.”
mean = np.mean(data["Monthly_Salary"])
median = np.median(data["Monthly_Salary"])
std = np.std(data["Monthly_Salary"])

skewness = round((mean - median) / std,4)
print("Skewness:", skewness)

Skewness: 0.0088

In [ ]:
# Find Employees Earning Above Average Salary
# How many employees earn more than the average salary
above_avg = data[data["Monthly_Salary"]> np.mean(data["Monthly_Salary"])]
print("Employees above average salary:", len(above_avg))

Employees above average salary: 399

This project shows how NumPy can be used to analyze employee salary and performance data,
 revealing patterns, variation, and relationships through clear statistical measures.